.scrollup{
    position: fixed;
    right: 2.5rem;
    bottom: 3rem;
    background-color: var(--title-color);
    opacity: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}
.scrollup:hover{
    background-color: var(--title-color-dark);
}
.scrollup_icon{
    font-size: 1.5rem;
    color: var(--container-color);
}